sudo: required

matrix:
  include:
    - dist: bionic
    - dist: xenial

services:
 - docker

before_install:
 - docker build -t 20200321/docker-react -f Dockerfile.dev .

script:
 - docker run 20200321/docker-react npm run test -- --coverage
